iframe{
	 width:900px;
	 height:400px;
	}
	body {
		background-image:
			url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6kes4oqn-17l2nTBcwLk13rQXWZOIqtnSAg&usqp=CAU");
		height: 768px;
		width: 1366px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	div{
	text-align:center;
	}
	tr:hover {background-color: #999966;}
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}