body {
	background-image:
		url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6kes4oqn-17l2nTBcwLk13rQXWZOIqtnSAg&usqp=CAU");
	height: 768px;
	width: 1366px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

tr:hover {
	background-color: #999966;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: rgba(255, 0, 0, 0.3);
}

th:nth-child(even), td:nth-child(even) {
	background-color: rgba(192, 0, 192, 0.3);
}

.table {
	border: 2px;
	width: 100%;
	padding: 2px;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #6bb6ff;
	border: none;
	border-radius: 10px;
	box-shadow: 0 9px #1E90FF;
	margin-left: 190px;
	margin-top: 10px;
}

.btn:hover {
	background-color: #6bb6ff
}

.btn:active {
	background-color: #9932CC;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}